:root {
    /* fonts */
    --open-sans: 'Open Sans', sans-serif;
    --rubik: 'Rubik', sans-serif;
    --mono: 'IBM Plex Mono', monospace;

    /* font families */
    --ff-main: var(--open-sans);
    --ff-heading: var(--rubik);
    --ff-mono: var(--mono);

    /* font weights */
    --fw-main: 500;
    --fw-heading: 600;
    --fw-mono: 400;

    /* font sizes */
    --fs-100: 0.875rem;
    --fs-200: 1rem;
    --fs-300: 1.25rem;
    --fs-400: 1.5rem;
    --fs-500: 1.75rem;
    --fs-600: 2rem;
    --fs-700: 2.25rem;
    --fs-800: 2.5rem;
    --fs-900: 3rem;

    /* colors */
    --clr-neutral-100: #FAFAFA;
    --clr-neutral-200: #E0E0E0;
    --clr-neutral-300: #BDBDBD;
    --clr-neutral-400: #9E9E9E;
    --clr-neutral-500: #757575;
    --clr-neutral-600: #616161;
    --clr-neutral-700: #424242;
    --clr-neutral-800: #212121;
    --clr-neutral-900: #050505;
    --clr-red: #FF1744;
    --clr-blue: #2979FF;

    --clr-background: var(--clr-neutral-900);
    --clr-foreground: var(--clr-neutral-300);
    --clr-primary: var(--clr-neutral-100);
    --clr-section-background: var(--clr-neutral-900);
    --clr-border: var(--clr-neutral-700);

    /* layout sizes */
    --container-max-width-phone: 24em;
    --container-max-width-tablet: 34em;
    --container-max-width-desktop: 60em;
    --nav-height: 3.5rem;
    --nav-gap: 1rem;
    --main-gap: 2rem;
    --section-gap: 1rem;
    --section-padding: 1.5rem;
    --table-padding: 0.35rem;
    --border-radius: 0.5rem;
}

/* reset */

*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    -webkit-font-smoothing: antialiased;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

/* typography */

body {
    background-color: var(--clr-background);
    color: var(--clr-foreground);

    font-family: var(--ff-main);
    font-weight: var(--fw-main);
    font-size: var(--fs-300);
}

main > section {
    background-color: var(--clr-section-background);

    border: 1px solid var(--clr-border);
    border-radius: var(--border-radius);
}

h1, h2, h3, h4, h5, h6, th, nav a {
    color: var(--clr-primary);

    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
}

a {
    color: var(--clr-primary);

    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;

    text-decoration: none;
}

hr {
    display: none;
}

table {
    font-size: var(--fs-200);

    border-collapse: collapse;
}

th {
    font-size: var(--fs-300);

    text-align: left;
}

tr td {
    border-bottom: 1px solid var(--clr-border);
}

tr:last-of-type td {
    border-bottom: none;
}

.pill {
    color: var(--clr-primary);

    font-family: var(--ff-heading);
    font-weight: var(--fw-heading);
    font-size: var(--fs-100);

    border-radius: var(--border-radius);
}

.red {
    background-color: var(--clr-red);
}

.blue {
    background-color: var(--clr-blue);
}

/* layout */

.container {
    width: 90%;
    max-width: var(--container-max-width-phone);

    margin-inline: auto;
}

nav {
    height: var(--nav-height);

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--nav-gap);
}

main {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

main > section {
    display: flex;
    flex-direction: column;
    gap: var(--section-gap);

    padding: var(--section-padding);
}

th, tr td {
    padding-block: var(--table-padding);
}

.pill {
    min-width: 6rem;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-inline: 0.5rem;
    padding-block: 0.25rem;
}

/* layout media queries */

@media screen and (min-width: 40rem) { /* tablet */
    .container {
        max-width: var(--container-max-width-tablet);
    }
}

@media screen and (min-width: 72rem) { /* desktop */
    .container {
        max-width: var(--container-max-width-desktop);
    }
}
