:root {
    --bg: #FFFFFF;
    --di: #F3F3F3;
    --gr: #DDDDDD;
    --fg: #000000;
    --hi: #00A74A;
}

* {
    box-sizing: border-box;
}

h1, h2, h3 {
    font-weight: 500;
}

body {
    background-color: var(--bg):
    color: var(--fg);
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.4;

    margin: 0;
}

header {
    background-color: var(--hi);
    color: var(--bg);

    width: 100%;

    margin-bottom: 20px;
    min-height: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li {
    float: left;
}

nav ul li a {
    display: block;

    min-width: 60px;

    color: var(--bg);
    text-decoration: none;
    text-align: center;

    font-size: small;
    font-weight: bold;

    padding: 15px 5px;
}

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

table {
    border-collapse: collapse;
    margin: 25px 0px;
    font-size: small;
    min-width: 400px;
}

thead tr {
    font-weight: bold;
    background-color: var(--hi);
    color: var(--bg);
}

th, td {
    padding: 12px 15px;
}

tbody tr {
    border-bottom: 1px solid var(--gr);
}

tbody tr:nth-child(even) {
    background-color: var(--di);
}
